SUPABASE_URL=TEXT
SUPABASE_PUBLISHABLE_KEY=TEXT
SUPABASE_SECRET_KEY=TEXT
SUPABASE_JWKS_URL=TEXT
DATABASE_URL="postgresql://postgres:[YOUR-DB-PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"
GITHUB_APP_TOKEN=TEXT
GITHUB_ORG_NAME=TEXT
GITHUB_WEBHOOK_SECRET=TEXT
REDIS_URL=redis://localhost:6379